*{
    Margin:0:
    Padding: 0;
    Box-size: border-box;
}
    
Img{
    Max-width: 100%;
    }
        
a {
        text-decoration: none; 
        color: inherit;
       }

ul{
    padding: 0px;
    padding: 0px;
    list-style:none;
    display: inline-block;
}       

li{
    margin-bottom: 20px;
    display: inline-block;
}


.button{
        padding: 10px;
        border-radius: 15px;
        font-weight: 700;
        background-color: #5791F0;
    }

body{
    max-width: 1920px;
    max-height: 7185px;
    margin: 0 auto

}

.button{
    background-color: #5791F0;
}

.user{
    margin-top: 50px;
    font-size: 25px;
}

.text-card{
    font-size: 20px;
}

h3{
    font-size: 27px;
}



/* inizio header --------------------------*/

.conteiner-header{
    max-width: 1920px;
    max-height: 76px;
    margin: 0 auto;
}

.row-header{
    display: flex;
    justify-content: space-between;
    background-color: white;

}


.col-header{
    display: flex;
    flex-basis: auto;
   
}



.one-section-header{
  
    padding: 10px 10px 0px 0px;
    flex-grow: 1;

}


/* inizio sezione Hero  --------------------------*/


.contaneir-hero{
    max-width: 1920px;
    max-height: 753px;
    background-color: #B5D0E7;

}


.section-hero{
    padding-top: 10px;
    max-width: 1182px;
    max-height: 674px;

    
}

.row-hero{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}


.col-2{
    flex-basis: calc(100% / 2);
}


.title-hero{
     font-size: 80px;
     padding: 0px 60px 0px 0px;
}

.text-hero{
     font-size: 20px;
     margin-bottom:30px;
}

.one-hero{
    padding-right: 20px;
}



.img-hero{
    max-width: 798px;
    max-height: 470px;
}

.botton-hero{
    background-color: #0061FF ;
    color: white;
    font-size: 25px;
    padding: 10px;   
}

.info-hero{
    font-size: 25px;
    margin-top: 40px;
}

/* ------2 sezione --------------------*/


.section-two{
    max-width: 1920px;
    max-height: 1652px;
    background-color: white;
    margin: 0 auto;
}


.contaneir-two{
    max-width: 1002px;
    max-height: 1524px;
    margin: 0 auto;
   
}

.title-two{
  font-size: 50px;
  padding-top: 90px;
}

.radio-section-two{
    font-size: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.row-two{
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;   
}

.col-3{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 20px;
    
}

.card{
    border: 1px solid black;
    max-width: 301px;
    min-height: 954px;
    padding: 10px;
    
}
   

.title-sec-two{
    text-align: center;
    padding: 0;
}



.ul-card-section-2{
    margin-bottom: 3px;
}


.clt-section-2{
    background-color: #0061FF;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.acq-ora{
    margin-top: 65px;
    font-size: 20px;
}

.space-hr{
    width: 130px;
    margin-right: 150px;
    margin-top: 50px;
    color: black
}




/* inizio sconda sezione finale  ----------------------------*/



.contaneir-two-3{
    padding-top: 10px;
    max-width: 1002px;
    max-height: 1524px;
    margin: 0 auto;
}

.col-1{
    text-align: center;
    border: 1px solid black;
    line-height: 0%;
    min-width: 1001px;
    max-height: 44px;
}




.row-two-two{
    display: flex;
    flex-wrap: wrap;
 
  
}


.col_2_description{
    flex-basis: 70%;    
}


.col_2_button{
    flex-basis: 30%;
    padding-top: 20px;
   
   
}

.btn-21{
    margin: 0 auto;
    background-color: #4386F3;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.sub-description{
    padding: 40px 50px 0px 0px;
}




